<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Modifications</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div id="header-content">
            <input type="text" placeholder="Pesquisar jogos">
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('meus_jogos') }}">Meus jogos</a>
                <a href="#">Explorar</a>
                <a href="#">Criadores</a>
            </nav>
            <div id="user-info">
                <span class="username">{{ usuario }}</span>
                <button class="pro">Apoiar B2</button>
                <a href="{{ url_for('logout')}}"><button class="support">Logout</button></a>
                <img src="settings-icon.png" alt="Settings" class="settings-icon">
            </div>
        </div>
    </header>
    <main>
        <section id="game-details">
        </section>
        <aside id="sidebar">
            <div class="game-info">
                <h3>Status dos servidores</h3>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.vrising == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">V Rising server - {% if serverstatusvrising.vrising == True %} ON {% else %} OFF {% endif %}</p>
                </div>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.palword == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">Pal World server - {% if serverstatusvrising.palword == True %} ON {% else %} OFF {% endif %}</p>
                </div>
            </div>
        </aside>
    </main>
    <script src="static/scripts.js">
    </script>
</body>
</html>
