<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Modifications</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div id="header-content">
            <input type="text" placeholder="Pesquisar jogos">
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('meus_jogos') }}">Meus jogos</a>
                <a href="#">Explorar</a>
                <a href="#">Criadores</a>
            </nav>
            <div id="user-info">
                <span class="username">{{ usuario }}</span>
                <button class="pro">Apoiar B2</button>
                <a href="{{ url_for('logout')}}"><button class="support">Logout</button></a>
                <img src="settings-icon.png" alt="Settings" class="settings-icon">
            </div>
        </div>
    </header>
    <main>
        <section id="game-details">
            <h2>V Rising - Server edit</h2>
            <div class="platforms">
                <span>Steam</span>
                <span>Xbox</span>
                <span>Epic</span>
            </div>
            <form>
                <div id="mods-section">
                    <div class="mod-category">
                        {% for key,value in items.items()%}
                            {{ value|safe }}
                        {% endfor %}
                    </div>
                    <div class="mod-category">
                        <h3>Seguranças</h3>
                    </div>
                    <div class="mod-category">
                        <h3>Configurações de Save</h3>
                    </div>
                    <div class="mod-category">
                        <h3>Configurações de debug events</h3>
                    </div>
                </div>
                <input class="save-btn pro" type="submit" value="Salvar">
            </form>
        </section>
        <aside id="sidebar">
            <div class="game-info">
                <h3>Status dos servidores</h3>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.vrising == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">V Rising server - {% if serverstatusvrising.vrising == True %} ON {% else %} OFF {% endif %}</p>
                </div>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.palword == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">Pal World server - {% if serverstatusvrising.palword == True %} ON {% else %} OFF {% endif %}</p>
                </div>
            </div>
        </aside>
    </main>
    <script src="static/scripts.js">
        document.addEventListener('DOMContentLoaded', function() {
            // Função a ser executada quando a página é carregada
            // Obtém todos os botões com a classe 'toggle-btn'
            var toggleButtons = document.querySelectorAll('.toggle-btn');
        
        toggleButtons.forEach(function(button) {
            if (button.textContent == 'False') {
                button.classList.remove('off');
                button.classList.add('on');
                button.textContent = 'True';
                button.value='True';
            } else {
                button.classList.remove('on');
                button.classList.add('off');
                button.textContent = 'False';
                button.value='False';
            }
        });
           
        });
    </script>
</body>
</html>
