<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Modifications</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div id="header-content">
            <input type="text" placeholder="Pesquisar jogos">
            <nav>
                <a href="#">Início</a>
                <a href="#">Meus jogos</a>
                <a href="#">Explorar</a>
                <a href="#">Criadores</a>
            </nav>
            <div id="user-info">
                <span class="username">MaximumMachine718</span>
                <button class="pro">PRO</button>
                <button class="support">Apoiar WeMod</button>
                <img src="settings-icon.png" alt="Settings" class="settings-icon">
            </div>
        </div>
    </header>
    <main>
        <section id="game-details">
            <h2>V Rising</h2>
            <div class="platforms">
                <span>Steam</span>
                <span>Xbox</span>
                <span>Epic</span>
            </div>
            <div id="mods-section">
                <div class="mod-category">
                    <h3>Configurações de Servidor</h3>
                    <ul>
                        <li>Nome: <input type="text" name="nome" class="nome-input" id="nome-input"></li>
                        <li>Descrição: <input type="text" name="descricao" class="descricao-input" id="descricao-input"></li>
                        <li>Numero Maximo de Players: 
                            <div class="number-input">
                                <button class="decrease-btn" onclick="decreaseValue('number-field-players',0)">-</button>
                                <input type="text" id="number-field-players" value="0" max="15" readonly>
                                <button class="increase-btn" onclick="increaseValue('number-field-players',15)">+</button>
                            </div>
                        </li>
                        <li>Numero Maximo de ADM: 
                            <div class="number-input">
                                <button class="decrease-btn" onclick="decreaseValue('number-field-adm',0)">-</button>
                                <input type="text" id="number-field-adm" value="0" max="6" readonly>
                                <button class="increase-btn" onclick="increaseValue('number-field-adm',6)">+</button>
                            </div>
                        </li>
                        <li>
                            FPS do servidor:  
                            <div class="range-container">
                                <input type="range" min="10" max="99" value="50" id="fps-server-tax" oninput="updateRangeValue('fps-server-value',this.value)">
                                <span id="fps-server-value">000</span>
                            </div>
                        </li>
                        <li>Save Name:  <input type="text" name="save-nome" class="save-nome-input" id="save-nome-input"></li>
                        <!-- Adicione mais mods aqui -->
                    </ul>
                </div>
                <div class="mod-category">
                    <h3>Seguranças</h3>
                    <ul>
                        <li>Senha: 
                            <input type="password" name="password" class="password-input" id="password-input">
                        </li>
                        <li>Segurança: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <li>Server Aparece na lista da Steam: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <li>Server Aparece na lista da EOS: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <!-- Adicione mais mods aqui -->
                    </ul>
                </div>
                <div class="mod-category">
                    <h3>Configurações de Save</h3>
                    <ul>
                        <li>AutoSaveCount: 
                            <div class="range-container">
                                <input type="range" min="10" max="99" value="50" oninput="updateRangeValue('Auto-Save-Count',this.value)">
                                <span id="Auto-Save-Count">000</span>
                            </div>
                        </li>
                        <li>AutoSaveInterval: 
                            <div class="range-container">
                                <input type="range" min="100" max="999" value="100" oninput="updateRangeValue('Auto-Save-Interval',this.value)">
                                <span id="Auto-Save-Interval">000</span>
                            </div>
                        </li>
                        <li>CompressSaveFiles: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <!-- Adicione mais mods aqui -->
                    </ul>
                </div>
                <div class="mod-category">
                    <h3>Configurações de debug events</h3>
                    <ul>
                        <li>Apenas ADM para Debug Event: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <li>Disativar Debug Event: <button class="toggle-btn off" onclick="toggleButton(this)">OFF</button></li>
                        <!-- Adicione mais mods aqui -->
                    </ul>
                </div>
            </div>
        </section>
        <aside id="sidebar">
            <button class="save-btn pro">Salvar mods</button>
            <button class="play-btn">Jogar</button>
            <div class="game-info">
                <p>14,6 mil membros jogam isso</p>
                <p>Última atualização em 08/12/2023</p>
                <button>Criar atalho na área de trabalho</button>
            </div>
        </aside>
    </main>
    <script src="static/scripts.js"></script>
</body>
</html>
