<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Modifications</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div id="header-content">
            <input type="text" placeholder="Pesquisar jogos">
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('meus_jogos') }}">Meus jogos</a>
                <a href="#">Explorar</a>
                <a href="#">Criadores</a>
            </nav>
            <div id="user-info">
                <span class="username">{{ usuario }}</span>
                <button class="pro">Apoiar B2</button>
                <a href="{{ url_for('logout')}}"><button class="support">Logout</button></a>
                <img src="settings-icon.png" alt="Settings" class="settings-icon">
            </div>
        </div>
    </header>
    <main>
        <section id="game-details">
            <h2>V Rising</h2>
            <div class="platforms">
                <span>Steam</span>
                <span>Xbox</span>
                <span>Epic</span>
            </div>
            <form action="{{ url_for('atualiza_v_rising_server_edit') }}" method="post">
                <div id="mods-section">
                    <div class="mod-category">
                        <h3>Configurações de Servidor</h3>
                        <ul>
                            <li>Nome: <input type="text" name="nome" class="nome-input" id="nome-input" required value="{{ info.Name }}"></li>
                            <li>Descrição: <input type="text" name="descricao" class="descricao-input" id="descricao-input" value="{{ info.Description }}"></li>
                            <li>Numero Maximo de Players: 
                                <div class="number-input">
                                    <input class="toggle-btn plus" onclick="decreaseValue('number-field-players',0)" value="-" readonly>
                                    <input type="text" name="number-max-players" id="number-field-players" value="{{ info.MaxConnectedUsers }}" max="15" readonly>
                                    <input class="toggle-btn plus" onclick="increaseValue('number-field-players',15)" value="+" readonly>
                                </div>
                            </li>
                            <li>Numero Maximo de ADM: 
                                <div class="number-input">
                                    <input class="toggle-btn plus" onclick="decreaseValue('number-field-adm',0)" value="-" readonly>
                                    <input type="text" name="number-max-adm" id="number-field-adm" value="{{ info.MaxConnectedAdmins }}" max="6" readonly>
                                    <input class="toggle-btn plus" onclick="increaseValue('number-field-adm',6)" value="+" readonly>
                                </div>
                            </li>
                            <li>
                                FPS do servidor:  
                                <div class="range-container">
                                    <input type="range" min="10" max="99" value="{{ info.ServerFps }}" name="fps-server-tax" id="fps-server-tax" oninput="updateRangeValue('fps-server-value',this.value)">
                                    <span id="fps-server-value">{{ info.ServerFps }}</span>
                                </div>
                            </li>
                            <li>Save Name:  <input type="text" name="save-nome" class="save-nome-input" id="save-nome-input" value="{{ info.SaveName }}"></li>
                            <!-- Adicione mais mods aqui -->
                        </ul>
                    </div>
                    <div class="mod-category">
                        <h3>Seguranças</h3>
                        <ul>
                            <li>Senha: 
                                <input type="text" name="password" class="password-input" id="password-input" value="{{ info.Password }}">
                            </li>
                            <li>Segurança: <input name="seguranca-ativa" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.Secure }}" readonly></li>
                            <li>Server Aparece na lista da Steam: <input name="listar-steam" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.Secure }}" readonly></li>
                            <li>Server Aparece na lista da EOS: <input name="listar-eos" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.ListOnSteam }}" readonly></li>
                            <!-- Adicione mais mods aqui -->
                        </ul>
                    </div>
                    <div class="mod-category">
                        <h3>Configurações de Save</h3>
                        <ul>
                            <li>AutoSaveCount: 
                                <div class="range-container">
                                    <input type="range" min="10" max="99" value="{{ info.AutoSaveCount }}" oninput="updateRangeValue('Auto-Save-Count',this.value)" name="auto-save-count">
                                    <span id="Auto-Save-Count">{{ info.AutoSaveCount }}</span>
                                </div>
                            </li>
                            <li>AutoSaveInterval: 
                                <div class="range-container">
                                    <input type="range" min="100" max="999" value="{{ info.AutoSaveInterval }}" oninput="updateRangeValue('Auto-Save-Interval',this.value)" name="auto-save-interval">
                                    <span id="Auto-Save-Interval">{{ info.AutoSaveInterval }}</span>
                                </div>
                            </li>
                            <li>CompressSaveFiles:  <input name="compress-file" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.CompressSaveFiles }}" readonly></li>
                            <!-- Adicione mais mods aqui -->
                        </ul>
                    </div>
                    <div class="mod-category">
                        <h3>Configurações de debug events</h3>
                        <ul>
                            <li>Apenas ADM para Debug Event: <input name="adm-event-debug" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.AdminOnlyDebugEvents }}" readonly></li>
                            <li>Disativar Debug Event: <input name="debug-event" class="toggle-btn netral" onclick="toggleButton(this)" value="{{ info.DisableDebugEvents }}" readonly></li>
                            <!-- Adicione mais mods aqui -->
                        </ul>
                    </div>
                </div>
                <input class="save-btn pro" type="submit" value="Salvar">
            </form>
        </section>
        <aside id="sidebar">
            <div class="game-info">
            
            </div>
        </aside>
    </main>
    <script src="static/scripts.js">
        document.addEventListener('DOMContentLoaded', function() {
            // Função a ser executada quando a página é carregada
            // Obtém todos os botões com a classe 'toggle-btn'
            var toggleButtons = document.querySelectorAll('.toggle-btn');
        
        toggleButtons.forEach(function(button) {
            if (button.textContent == 'False') {
                button.classList.remove('off');
                button.classList.add('on');
                button.textContent = 'True';
                button.value='True';
            } else {
                button.classList.remove('on');
                button.classList.add('off');
                button.textContent = 'False';
                button.value='False';
            }
        });
           
        });
    </script>
</body>
</html>
