<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Modifications</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div id="header-content">
            <input type="text" placeholder="Pesquisar jogos">
            <nav>
                <a href="{{ url_for('index') }}">Início</a>
                <a href="{{ url_for('meus_jogos') }}">Meus jogos</a>
                <a href="#">Explorar</a>
                <a href="#">Criadores</a>
            </nav>
            <div id="user-info">
                <span class="username">{{ usuario }}</span>
                <button class="pro">Apoiar B2</button>
                <a href="{{ url_for('logout')}}"><button class="support">Logout</button></a>
                <img src="settings-icon.png" alt="Settings" class="settings-icon">
            </div>
        </div>
    </header>
    <main>
        <section id="game-details">
            <h2>V Rising - Gamer edit</h2>
            <div class="platforms">
                <span>Steam</span>
                <span>Xbox</span>
                <span>Epic</span>
            </div>
            <form>
                <div id="mods-section">
                    <div class="mod-category">
                        <h3>Configurações de Jogo</h3>
                        <ul>
                            <li>Dificuldade de jogo: 
                                <select id="dificuldade-game" name="dificuldade-game" class="dropdown-menu">
                                    <option value="Easy" {% if info.GameDifficulty == "Easy" %}selected{% endif %}>Fácil</option>
                                    <option value="Normal" {% if info.GameDifficulty == "Normal" %}selected{% endif %}>Normal</option>
                                    <option value="Hard" {% if info.GameDifficulty == "Hard" %}selected{% endif %}>Dificil</option>
                                </select>
                            </li>
                            <li>Tipo de jogo:
                                <select id="game-mode-type" name="game-mode-type" class="dropdown-menu">
                                    <option value="PvE" {% if info.GameModeType == "PvE" %}selected{% endif %}>PvE</option>
                                    <option value="PvP" {% if info.GameModeType == "PvP" %}selected{% endif %}>PvP</option>
                                </select>
                            </li>
                            <li>Dano ao castelo:
                                <select id="castle-damage-mode" name="castle-damage-mode" class="dropdown-menu">
                                    <option value="Always" {% if info.CastleDamageMode == "Always" %}selected{% endif %}>Sempre</option>
                                    <option value="Never" {% if info.CastleDamageMode == "Never" %}selected{% endif %}>Nunca</option>
                                    <option value="TimeRestricted" {% if info.CastleDamageMode == "TimeRestricted" %}selected{% endif %}>Tempo Restrito</option>
                                </select>
                            </li>
                            <li>Dano a jogador:
                                <select id="player-damage-mode" name="player-damage-mode" class="dropdown-menu">
                                    <option value="Always" {% if info.PlayerDamageMode == "Always" %}selected{% endif %}>Sempre</option>
                                    <option value="TimeRestricted" {% if info.PlayerDamageMode == "TimeRestricted" %}selected{% endif %}>Tempo Restrito</option>
                                </select>
                            </li>
                            <li>Como o castelo pode ser destruido:
                                <select id="castle-heart-damage-mode" name="castle-heart-damage-mode" class="dropdown-menu">
                                    <option value="CanBeDestroyedOnlyWhenDecaying" {% if info.CastleHeartDamageMode == "CanBeDestroyedOnlyWhenDecaying" %}selected{% endif %}>Por Tempo</option>
                                    <option value="CanBeDestroyedByPlayers" {% if info.CastleHeartDamageMode == "CanBeDestroyedByPlayers" %}selected{% endif %}>Por Players</option>
                                    <option value="CanBeSeizedOrDestroyedByPlayers" {% if info.CastleHeartDamageMode == "CanBeSeizedOrDestroyedByPlayers" %}selected{% endif %}>Aprendido ou Destruido</option>
                                </select>
                            </li>
                            <li>Quem pode saquear seus itens após a morte:
                                <select id="death-container-permission" name="death-container-permission" class="dropdown-menu">
                                    <option value="Anyone" {% if info.DeathContainerPermission == "Anyone" %}selected{% endif %}>Qualquer</option>
                                    <option value="ClanMembers" {% if info.DeathContainerPermission == "ClanMembers" %}selected{% endif %}>Mebros do Clã</option>
                                </select>
                            </li>
                            <li>Pode saquear baús de outros jogadores:
                                <input {% if info.CanLootEnemyContainers == True %} class="toggle-btn on" {% else %} class="toggle-btn off" {% endif %} name="Can-Loot-Enemy-Containers" onclick="toggleButton(this)" value="{{ info.CanLootEnemyContainers }}" readonly>
                            </li>
                            <li>Mantém itens ao morrer:
                                <input {% if info.BloodBoundEquipment == True %} class="toggle-btn on" {% else %} class="toggle-btn off" {% endif %} name="Blood-Bound-Equipment" onclick="toggleButton(this)" value="{{ info.BloodBoundEquipment }}" readonly>
                            </li>
                            <li>Permite teleport com itens:
                                <input {% if info.TeleportBoundItems == True %} class="toggle-btn on" {% else %} class="toggle-btn off" {% endif %} name="Teleport-Bound-Items" onclick="toggleButton(this)" value="{{ info.TeleportBoundItems }}" readonly>
                            </li>
                            <li>Permite chat global:
                                <input {% if info.AllowGlobalChat == True %} class="toggle-btn on" {% else %} class="toggle-btn off" {% endif %} name="Allow-Global-Chat" onclick="toggleButton(this)" value="{{ info.AllowGlobalChat }}" readonly>
                            </li>
                            <li>Todos os pontos de referências desbloqueados:
                                <input {% if info.AllWaypointsUnlocked == True %} class="toggle-btn on" {% else %} class="toggle-btn off" {% endif %} name="All-Way-points-Unlocked" onclick="toggleButton(this)" value="{{ info.AllWaypointsUnlocked }}" readonly>
                            </li>
                        </ul>
                    </div>

                    <div class="mod-category">
                        <h3>Personagem</h3>
                        <ul>
                            <li>Tamanho das pilhas do inventário: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3" step="0.1" value="{{ info.InventoryStacksModifier }}" oninput="updateRangeValue('Inventory-Stacks-Modifier',this.value)" name="Inventory-Stacks-Modifier">
                                    <span id="Inventory-Stacks-Modifier">{{ info.InventoryStacksModifier }}</span>
                                </div>
                            </li>
                            <li>Drop de inimigos: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3" step="0.1" value="{{ info.DropTableModifier_General }}" oninput="updateRangeValue('Drop-Table-Modifier_General',this.value)" name="Drop-Table-Modifier_General">
                                    <span id="Drop-Table-Modifier_General">{{ info.DropTableModifier_General }}</span>
                                </div>
                            </li>
                            <li>Drop de missões: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3" step="0.1" value="{{ info.DropTableModifier_Missions }}" oninput="updateRangeValue('Drop-Table-Modifier_Missions',this.value)" name="Drop-Table-Modifier_Missions">
                                    <span id="Drop-Table-Modifier_Missions">{{ info.DropTableModifier_Missions }}</span>
                                </div>
                            </li>
                            <li>Drop de novos recursos: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3" step="0.1" value="{{ info.MaterialYieldModifier_Global }}" oninput="updateRangeValue('Material-Yield-Modifier_Global',this.value)" name="Material-Yield-Modifier_Global">
                                    <span id="Material-Yield-Modifier_Global">{{ info.MaterialYieldModifier_Global }}</span>
                                </div>
                            </li>
                            <li>Multiplicados de sangue obtido de inimigos: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3" step="0.1" value="{{ info.BloodEssenceYieldModifier }}" oninput="updateRangeValue('Blood-Essence-Yield-Modifier',this.value)" name="Blood-Essence-Yield-Modifier">
                                    <span id="Blood-Essence-Yield-Modifier">{{ info.BloodEssenceYieldModifier }}</span>
                                </div>
                            </li>
                            <li>Tamanho do clã: 
                                <div class="number-input">
                                    <input class="toggle-btn plus" onclick="decreaseValue('Clan-Size',4)" value="-" readonly>
                                    <input type="text" name="Clan-Size" id="Clan-Size" value="{{ info.ClanSize }}" max="10" readonly>
                                    <input class="toggle-btn plus" onclick="increaseValue('Clan-Size',10)" value="+" readonly>
                                </div>
                            </li>
                            <li>Força das áreas de alho: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.GarlicAreaStrengthModifier }}" oninput="updateRangeValue('Garlic-Area-Strength-Modifier',this.value)" name="Garlic-Area-Strength-Modifier">
                                    <span id="Garlic-Area-Strength-Modifier">{{ info.GarlicAreaStrengthModifier }}</span>
                                </div>
                            </li>
                            <li>Força das áreas sagradas: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.HolyAreaStrengthModifier }}" oninput="updateRangeValue('Holy-Area-Strength-Modifier',this.value)" name="Holy-Area-Strength-Modifier">
                                    <span id="Holy-Area-Strength-Modifier">{{ info.HolyAreaStrengthModifier }}</span>
                                </div>
                            </li>
                            <li>Dano por carregar Prata: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.SilverStrengthModifier }}" oninput="updateRangeValue('Silver-Strength-Modifier',this.value)" name="Silver-Strength-Modifier">
                                    <span id="Silver-Strength-Modifier">{{ info.SilverStrengthModifier }}</span>
                                </div>
                            </li>
                            <li>Dano do Sol: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.SunDamageModifier }}" oninput="updateRangeValue('Sun-Damage-Modifier',this.value)" name="Sun-Damage-Modifier">
                                    <span id="Sun-Damage-Modifier">{{ info.SunDamageModifier }}</span>
                                </div>
                            </li>
                            <li>Consulmo de essência sanguinea do castelo: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.CastleBloodEssenceDrainModifier }}" oninput="updateRangeValue('Castle-Blood-Essence-Drain-Modifier',this.value)" name="Castle-Blood-Essence-Drain-Modifier">
                                    <span id="Castle-Blood-Essence-Drain-Modifier">{{ info.CastleBloodEssenceDrainModifier }}</span>
                                </div>
                            </li>
                            <li>Custo de construção: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.BuildCostModifier }}" oninput="updateRangeValue('Build-Cost-Modifier',this.value)" name="Build-Cost-Modifier">
                                    <span id="Build-Cost-Modifier">{{ info.BuildCostModifier }}</span>
                                </div>
                            </li>
                            <li>Custo de modificação: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.RecipeCostModifier }}" oninput="updateRangeValue('Recipe-Cost-Modifier',this.value)" name="Recipe-Cost-Modifier">
                                    <span id="Recipe-Cost-Modifier">{{ info.RecipeCostModifier }}</span>
                                </div>
                            </li>
                            <li>Custo de pesquisa: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.ResearchCostModifier }}" oninput="updateRangeValue('Research-Cost-Modifier',this.value)" name="Research-Cost-Modifier">
                                    <span id="Research-Cost-Modifier">{{ info.ResearchCostModifier }}</span>
                                </div>
                            </li>
                            <li>Custo de refinamento: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.RefinementCostModifier }}" oninput="updateRangeValue('Refinement-Cost-Modifier',this.value)" name="Refinement-Cost-Modifier">
                                    <span id="Refinement-Cost-Modifier">{{ info.RefinementCostModifier }}</span>
                                </div>
                            </li>
                            <li>Velocidade de refinamento: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.RefinementRateModifier }}" oninput="updateRangeValue('Refinement-Rate-Modifier',this.value)" name="Refinement-Rate-Modifier">
                                    <span id="Refinement-Rate-Modifier">{{ info.RefinementRateModifier }}</span>
                                </div>
                            </li>
                            <li>Velocidade do tempo de pesquisa: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="3.0" step="0.1" value="{{ info.ResearchTimeModifier }}" oninput="updateRangeValue('Research-Time-Modifier',this.value)" name="Research-Time-Modifier">
                                    <span id="Research-Time-Modifier">{{ info.ResearchTimeModifier }}</span>
                                </div>
                            </li>
                            <li>Recursos recuperados ao desmontar edificios: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="1.0" step="0.1" value="{{ info.DismantleResourceModifier }}" oninput="updateRangeValue('Dismantle-Resource-Modifier',this.value)" name="Dismantle-Resource-Modifier">
                                    <span id="Dismantle-Resource-Modifier">{{ info.DismantleResourceModifier }}</span>
                                </div>
                            </li>
                            <li>Tempo necessário para converter um servo: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="1.0" step="0.1" value="{{ info.ServantConvertRateModifier }}" oninput="updateRangeValue('Servant-Convert-Rate-Modifier',this.value)" name="Servant-Convert-Rate-Modifier">
                                    <span id="Servant-Convert-Rate-Modifier">{{ info.ServantConvertRateModifier }}</span>
                                </div>
                            </li>
                            <li>Custo de reparo: 
                                <div class="range-container">
                                    <input  type="range" min="0.1" max="1.0" step="0.1" value="{{ info.RepairCostModifier }}" oninput="updateRangeValue('Repair-Cost-Modifier',this.value)" name="Repair-Cost-Modifier">
                                    <span id="Repair-Cost-Modifier">{{ info.RepairCostModifier }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mod-category">
                        <h3>Modificador de Tempo</h3>
                        <ul>
                            <li>Duração do dia em segundos: 
                                <div class="range-container">
                                    <input  type="range" min="100" max="9999" step="1" value="{{ info.GameTimeModifiers.DayDurationInSeconds }}" oninput="updateRangeValue('Day-Duration-In-Seconds',this.value)" name="Day-Duration-In-Seconds">
                                    <span id="Day-Duration-In-Seconds">{{ info.GameTimeModifiers.DayDurationInSeconds }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <input class="save-btn pro" type="submit" value="Salvar">
            </form>
        </section>
        <aside id="sidebar">
            <div class="game-info">
                <h3>Status dos servidores</h3>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.vrising == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">V Rising server - {% if serverstatusvrising.vrising == True %} ON {% else %} OFF {% endif %}</p>
                </div>
                <div class="status-container">
                    <div id="server-status" {% if serverstatusvrising.palword == True %}  class="status-circle on" {% else %} class="status-circle off" {% endif %}>
                    </div>
                    <p id="status-text">Pal World server - {% if serverstatusvrising.palword == True %} ON {% else %} OFF {% endif %}</p>
                </div>
            </div>
        </aside>
    </main>
    <script src="static/scripts.js">
        document.addEventListener('DOMContentLoaded', function() {
            // Função a ser executada quando a página é carregada
            // Obtém todos os botões com a classe 'toggle-btn'
            var toggleButtons = document.querySelectorAll('.toggle-btn');
        
        toggleButtons.forEach(function(button) {
            if (button.textContent == 'False') {
                button.classList.remove('off');
                button.classList.add('on');
                button.textContent = 'True';
                button.value='True';
            } else {
                button.classList.remove('on');
                button.classList.add('off');
                button.textContent = 'False';
                button.value='False';
            }
        });
           
        });
    </script>
</body>
</html>
